.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 14px;
  align-items: center;

  width: 320px;
  padding: 10px;
  padding-bottom: 15px;

  border: 1px solid #111;
  border-radius: 6px;
}

.formContainer {
  display: flex;
  flex-direction: column;

  width: 300px;

  font-size: 500;
}

.button_container {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.input {
  padding: 5px 5px 5px 10px;
}

.editBtn {
  width: 110px;
}

@media (prefers-color-scheme: dark) {
  .form {
    border: 1px solid #16b65e;
  }
  label {
    color: #16b65e;
  }
}
