.link {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  font-weight: 700;
  color: inherit;
}

.nav {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

@media (prefers-color-scheme: dark) {
  .link {
    color: #ffff;
  }
}
