.container {
  padding: 10px;
}

.link {
  display: inline-block;

  padding: 12px;

  text-decoration: none;
  font-weight: 700;
  color: #2a363b;
}

@media (prefers-color-scheme: dark) {
  .link {
    color: #ffff;
  }
}
