.button_container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.yes_btn {
  color: green;
}

.no_btn {
  color: red;
}
