.container {
  padding: 5px;
}

.homeContainer {
  padding: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: calc(100vh - 300px);
  align-items: center;
  justify-content: center;
}

.title {
  font-weight: 500;
  font-size: 48;
  text-align: center;
}

.homeIcon {
  color: inherit;
}
